.bttncontainer {
    display: flex;
    align-items: center;
    margin-left: auto;

}

.bttncontainer button {
    background-color: #222;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.bttncontainer button:hover {
    background-color: #aaa;
}

.darkMode button {
    background-color: #bbb;
    color: black;
}