.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}

.pagination {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.pagination a {
  text-decoration: none;
  color: black;
  margin: 10px;
  background-color: #ccc;
  width: 120px;
  padding: 15px 0;
  text-align: center;
}

.pagination a:hover {
  background-color: #bbb;
}